* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: none;
}

body {
  margin: auto;
  padding: auto;
  font-family: sans-serif;
  font-weight: bold;
  text-align: justify;
  background-color: black auto;
}

.navbar .container-fluid {
  top: 1px;
  z-index: 1;
  position: fixed;
}

.navbar-nav li:hover {
  background-color: blue;
  color: bisque;
  border-radius: 10px;
}

.ul .li .a:hover {
  background-color: yellow;
}

span {
  background-image: radial-gradient(blue, black);
  color: white;
  border: 5px greenyellow solid;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
span:hover {
  color: yellow;
}
.hero {
  background-image: url("img/Daaruts\ Tsaqofah.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-position-y: auto;
  background-position-x: auto;
  width: 125%;
  height: 55vh;
  margin-top: 3px;
}

img {
  border: 1px black solid;
  width: 100% auto;
  height: 350px auto;
  margin: 3px;
}

.profil {
  background-color: black;
}

#IT:hover {
  background-color: black;
  color: white;
}

#smart:hover {
  background-color: black;
  color: white;
}

h5 {
  color: darkblue;
  font-weight: small;
  text-align: center;
  justify-content: center;
  margin: 15px;
}

h6 {
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 15px;
}

section {
  display: block;
  margin: 2px;
}

/*sosmed*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: yellow;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: yellowgreen;
  color: white;
}
